:root {
  --blue: rgb(0, 168, 243);
  --lightblue: rgb(0, 168, 243, 0.8);
  --corail: rgb(232, 49, 81);
  --dark: rgb(56, 56, 56);
  --darkydark: rgb(24, 24, 24);
  --darkgold: rgb(179, 163, 106);
  --Mdarkgold: rgb(187, 176, 136);
  --deepbrown: rgb(33, 33, 33);
  --deepDarkGold: rgb(104, 91, 45);
  --deepdark: rgb(20, 19, 15);
  --goldy: rgb(219, 211, 182);
  --grisBlue: #0f1923;
  --lightdark: rgb(77, 77, 77);
  --lightTransDark: rgba(55, 55, 55, 0.12);
  --lighttransgoldy: rgba(219, 211, 182, 0.7);
  --MLTD: rgba(55, 55, 55, 0.3);
  --rose: rgb(255, 0, 119);
  --transBlue: rgba(0, 168, 243, 0.2);
  --transDarkGold: rgba(179, 163, 106, 0.2);
  --transDark: rgba(55, 55, 55, 0.6);
  --transDeepWhite: rgba(255, 255, 255, 0.5);
  --transgoldy: rgba(219, 211, 182, 0.05);
  --transLightBlue: rgba(177, 226, 255, 0.8);
  --transWhite: rgba(255, 255, 255, 0);
  --deepgrey: rgb(16, 17, 18);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
html {
  font-size: 62.5%;
}
body {
  background: white;
  position: relative;
  min-height: 100vh;
}
.sounds {
  display: none;
}

/* ************************** */
/* ***** scrollBar body ***** */
/* ************************** */
body::-webkit-scrollbar {
  width: 17px; /* largeur de la scrollbar */
}
body::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: var(--dark);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--goldy); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 4px solid var(--dark); /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-corner {
  /* Coin de la fenêtre */
  background: var(--darkgold);
}

/* Pink Body */
.pink__body {
  transition: 2s ease-in-out;
}
.pink__body::-webkit-scrollbar {
  width: 17px;
}
.pink__body::-webkit-scrollbar-track {
  background: var(--dark);
}
.pink__body::-webkit-scrollbar-thumb {
  background-color: var(--corail);
  border-radius: 10px;
  border: 4px solid var(--dark);
}

/* ************************** */
/* ******** header ********** */
/* ************************** */

header {
  position: relative;
  height: 100vh;
}
.titleHeadBox {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}
/* *************************** */
/* *   Bouton toggle burger  * */
/* *************************** */
.btn__toggle__container {
  cursor: pointer;
  display: none;
}
/*******************/
/*** Icon Burger ***/
/*******************/
.container__burger {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 10px;
}
.box {
  height: 44px;
  width: 44px;
  position: relative;
  z-index: 7;
}
.cont-lignes {
  width: 44px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}
.lignes {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: var(--lightdark);
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.lignes__color__scroll {
  background: var(--corail);
}
.lignes:nth-child(1) {
  top: 0px;
}
.lignes:nth-child(2) {
  top: 18px;
}
.lignes:nth-child(3) {
  top: 36px;
}
.btn1.active .lignes:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
  background: var(--corail);
}
.btn1.active .lignes:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}
.btn1.active .lignes:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
  background: var(--corail);
}
/* ************************** */
/*     Bouton toggle header   */
/* ************************** */
.btnOval {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 58px;
  font-size: 1.5rem;
  color: var(--dark);
  padding: 0.5rem auto;
  background: transparent;
  border: 2px solid var(--darkgold);
  border-radius: 20px;
  transition: 1s;
  z-index: 2;
  perspective: 2000px;
  transform-origin: center;
  filter: drop-shadow(-8px 12px 5px #373737);
}
.rightCursor {
  position: absolute;
  top: 2px;
  left: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--deepDarkGold);
  border-radius: 15px;
  animation: movingBoton 3s ease-in-out infinite;
  background-image: linear-gradient(
    to right,
    var(--lightdark),
    var(--goldy),
    var(--lightdark)
  );
  background-size: 200% 100%;
  transition: 0.3s ease-out;
  cursor: pointer;
  z-index: 3;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 15px 0px #000, inset 0px 0px 15px 0px #000;
}
.leftCursor {
  position: absolute;
  top: 2px;
  left: 3px;
}
.rightCursor:hover,
.leftCursor:hover {
  animation-play-state: paused;
}
.spanbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btnspan {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--deepDarkGold);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  transition: 0.2s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
  z-index: 1;
}
.btnspan:hover {
  background: var(--lightTransDark);
  z-index: 1;
}
.h1-header {
  display: inline;
  font-size: 8rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #373737, #dbd3b6);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* ************************** */
/*            H1 SPAN         */
/* ************************** */
@keyframes points {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h1Span1 {
  font-size: 7.5rem;
  color: var(--Mdarkgold);
  animation-name: points;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.h1Span2 {
  font-size: 7.5rem;
  color: var(--goldy);
  animation-name: points;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.h1Span3 {
  font-size: 7.5rem;
  color: var(--goldy);
  animation-name: points;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* ************************** */
/*          nav barre         */
/* ************************** */
.headernav {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  height: 90px;
  background: transparent;
  transition: 0.2s ease-in-out;
  z-index: 99;
}
.navbg {
  background: linear-gradient(
    to right,
    var(--transWhite) 75%,
    var(--transDarkGold)
  );
}
/* ************************** */
/*            logo            */
/* ************************** */
@keyframes logo__rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes img__rotate {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}
.logo__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  top: 5px;
  left: 15px;
  text-align: center;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background: var(--transDark);
  transition: 0.2s ease-in-out;
  transform-origin: center;
  animation: logo__rotate 7s linear infinite reverse;
  z-index: 101;
}
.logo__container:hover {
  transition: 0.2s ease-in-out;
  background: var(--dark);
}
.logo {
  width: 42px;
  border-radius: 71% 29% 37% 63% / 30% 38% 62% 70%;
  box-shadow: 0 0 7px 1px var(--goldy);
  transform-origin: center;
  animation: img__rotate 5s linear infinite;
  cursor: pointer;
}

.headerfixeddark {
  height: 90px;
  transition: 0.2s;
  z-index: 100;
  background: var(--darkydark);
  border-bottom: 2px solid var(--transgoldy);
}
.header-a {
  font-size: 22px;
  padding: 0 1rem;
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  z-index: 100;
  transition: 0.3s;
}
.header-a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  margin: 2px auto 0 auto;
  background: var(--darkgold);
  transition: 0.2s ease-out;
}
.header-a-gold::after {
  background: var(--goldy);
}
.header-a:hover::after {
  width: 100%;
}
.headergoldy {
  color: var(--goldy);
}
.funnyPaddin {
  margin: 0 -1rem;
  transition: 0.3s;
  font-family: "Roboto";
  font-size: 22px;
  font-style: italic;
  letter-spacing: -2px;
}
.videohead {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
  filter: hue-rotate(2deg);
}

.alex {
  position: absolute;
  top: 98%;
  left: 0.5%;
  font-size: 1rem;
  z-index: 3;
}
.alex a {
  color: var(--dark);
  z-index: 3;
}
/* ************************** */
/*             Main           */
/* ************************** */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* ************************** */
/*         First-Section      */
/* ************************** */
@keyframes movingBoton {
  0% {
    background-position: 0% 50%;
    transform: rotateY(15deg);
  }
  50% {
    background-position: 100% 50%;
    transform: rotateY(-15deg);
  }
  100% {
    background-position: 0% 50%;
    transform: rotateY(15deg);
  }
}
@keyframes movingLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e83151;
  transition: 1.2s ease-out;
  /* border-bottom: 10px solid var(--dark); */
  z-index: 0;
  perspective: 2000px;
  transform-origin: center;
}
.h2_section1 {
  margin-top: -22rem;
  text-align: center;
  line-height: 1.15;
  font-size: 8rem;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: var(--goldy);
  opacity: 0;
  transition: opacity 1.5s;
}
.h2apears {
  opacity: 1;
  padding: 8rem 0;
  animation: movingLight 3s ease-in-out 1 1.5s;
  background-image: linear-gradient(
    to right,
    var(--deepdark),
    var(--dark),
    #dbd3b6,
    var(--dark),
    var(--deepdark)
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  color: transparent;
  transform-style: preserve-3d;
  -webkit-user-select: none;
  transition: opacity 1.5s ease-in-out;
}
/* ************************** */
/*        Second-Section      */
/* ************************** */
.second__section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ************************** */
/* *         Parallax       * */
/* ************************** */
.parallax {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.parallax__p1__box {
  width: 300px;
  margin: 0 8rem 0 0;
  transition: 0.3s ease-in-out;
}
.p__parallax1 {
  font-weight: 300;
  font-size: 28px;
  color: var(--goldy);
  line-height: 45px;
  word-spacing: 8px;
}
.lao {
  text-align: right;
  font-size: 2rem;
  color: var(--goldy);
}
.p__parallax2 {
  width: 300px;
  margin: 0 0 0 8rem;
  padding: 2rem;
  border-radius: 8px;
  font-size: 28px;
  color: white;
  /* color: var(--corail); */
  background: rgba(0, 0, 0, 0.85);
}
.p__parallax3 {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 300px;
  font-size: 28px;
  color: var(--goldy);
  font-weight: lighter;
  line-height: 50px;
  transition: all 0.8;
}
.p__parallax3::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -55px;
  width: 40px;
  height: 40px;
  background: var(--corail);
}
.p__parallax3::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -15px;
  width: 40px;
  height: 40px;
  background: var(--corail);
}
.p__parallax3:hover::before,
.p__parallax3:hover::after {
  /* border-radius: 50%; */
  transform: rotate(-45deg);
  transition: all 0.8;
}

#h3blur {
  align-self: flex-start;
  margin: 8rem 0 0 10rem;
  font-size: 70px;
  font-weight: 300;
  color: var(--goldy);
  transition: 0.3s ease-in-out;
  padding: 1rem 5rem 2rem 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  user-select: none;
}
.blur {
  filter: blur(5px);
  transition: 0.3s ease-in-out;
}
.red__word__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 450px;
  border-radius: 35% 35% 50% 50%;
}
.redword {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: crimson;
  font-size: 90px;
  padding: 8px 24px;
  background: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  border-radius: 4px;
  cursor: pointer;
}
.redword__hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  font-family: "Homemade Apple", cursive;
  font-weight: 700;
  font-size: 70px;
  color: black;
  background-color: transparent;
  background-image: url(/assets/img/Redheart.svg);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-12px 8px 4px rgba(87, 13, 13, 0.3));
  padding-bottom: 6rem;
  border-radius: 35% 35% 50% 50%;
  text-shadow: -8px 8px 3px rgba(0, 0, 0, 0.2);
}

.heartBeat {
  animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
.parallax:nth-child(1) {
  position: relative;
  background-image: url(/assets/img/Keyboard.jpg);
  background-size: cover;
  background-position: center;
}
.parallax:nth-child(2) {
  background-image: url(/assets/img/Hashtag.jpg);
  background-size: cover;
  background-position: right;
}

.parallax:nth-child(3) {
  height: 400px;
  background-image: url(/assets/img/Curious.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: hue-rotate(30deg);
}
.parallax:nth-child(4) {
  background-image: url(/assets/img/small\ airplane\ window.jpg);
  background-size: cover;
  background-position: top;
}
/* ************************** */
/*            Footer          */
/* ************************** */
.end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 890px;
  background: var(--darkydark);
  color: var(--goldy);
  padding: 8rem 4rem 0;
}
/* ************************** */
/*         Prés footer        */
/* ************************** */
.pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background: grey; */
  margin: 2rem;
}
.pres h4 {
  font-size: 33px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 2rem;
}
.pres p {
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  line-height: 50px;
}
footer a {
  text-decoration: none;
  color: var(--blue);
}
/* ************************** */
/* *      Footer cards      * */
/* ************************** */
.footer__card__container {
  position: relative;
  width: 400px;
  height: 400px;
  backface-visibility: hidden;
  margin-top: 4rem;
}
.card__wrapper {
  position: relative;
  min-height: 400px;
  perspective: 2000px;
  perspective-origin: center;
  /* background: white; */
}
.card__wrapper:hover .card {
  transform: rotateY(-180deg);
}
.card {
  position: relative;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  font-weight: bold;
  cursor: pointer;
}
.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: movingBoton 3s ease-in-out infinite;
  background-image: linear-gradient(
    to right,
    var(--lightdark),
    var(--goldy),
    var(--lightdark)
  );
  background-size: 200% 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 1px 17px 0 rgb(0, 0, 0);
}
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(/assets/img/iamwho.png);
  background-size: cover;
  filter: hue-rotate(340deg);
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 1px 17px 0 rgb(0, 0, 0);
}
.at__footer {
  width: 75%;
  height: 75%;
}
.email {
  position: absolute;
  top: 40%;
  right: 5%;
  font-size: 22px;
  color: var(--darkydark);
}
.email::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  margin: 2px auto 0 auto;
  background: var(--goldy);
  transition: 0.2s ease-out;
}
.email:hover::after {
  width: 100%;
}

/* ************************** */
/* *      Social Footer     * */
/* ************************** */
.social__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  padding: 2rem;
  /* background: white; */
}

.social__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90px;
  animation: movingBoton 3s ease-in-out infinite;
  background-image: linear-gradient(
    to right,
    var(--lightdark),
    var(--goldy),
    var(--lightdark)
  );
  background-size: 200% 100%;
  margin: 0 4rem;
  border-radius: 4px;
  filter: drop-shadow(40px 28px 4px rgba(0, 0, 0, 0.3));
  z-index: 1;
}
.social__btn:hover {
  animation-play-state: paused;
}
.social__btn:nth-child(1) {
  animation-delay: 0.2s;
  /* background: red; */
}
.social__btn:nth-child(3) {
  animation-delay: 0.6s;
  /* background: green; */
}
.social__btn:nth-child(5) {
  animation-delay: 1s;
  /* background: orange; */
}
.social__btn:nth-child(7) {
  animation-delay: 1.4s;
  /* background: lightblue; */
}
.link {
  /* position: absolute; */
  font-size: 1.2rem;
  margin-top: -2rem;
  color: white;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.linked {
  opacity: 1;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.LinkedIn {
  width: 50px;
}
.twitter {
  width: 100px;
}
/*******************/
/** Bouton scroll **/
/*******************/
.scroll-to-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  width: 45px;
  height: 45px;
  bottom: 80px;
  right: 20px;
  border: none;
  border-radius: 50%;
  background: var(--goldy);
  opacity: 0;
  box-shadow: -1px 1px 7px #111;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 100;
}
.scroll-to-top:hover {
  animation-play-state: paused;
  box-shadow: 0 0 7px 2px#333;
}
.topArrowImg {
  width: 25px;
}
.arrow-visible {
  animation: movingBoton 3s ease-in-out infinite;
  background-image: linear-gradient(
    to right,
    var(--lightdark),
    var(--goldy),
    var(--lightdark)
  );
  background-size: 200% 100%;
  transition: 0.3s ease-out;
  opacity: 1;
}

/* ********************************************* */
/*                     Who am i                  */
/* ********************************************* */
.whoamibody {
  background: var(--dark);
  min-height: 100vh;
}
.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #383838;
  opacity: 0.2;
  background-image: radial-gradient(
    ellipse farthest-corner at 10px 10px,
    #dbd3b6,
    #dbd3b6 50%,
    #383838 50%
  );
  background-size: 6px 6px;
}
.whoami__head {
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 5;
}
.whonav {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  height: 90px;
  background: var(--darkydark);
  transition: 0.5s ease-in-out;
  z-index: 5;
}
.who-a {
  font-size: 22px;
  padding: 0 1rem;
  color: var(--goldy);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.who-a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  margin: 2px auto 0 auto;
  background: var(--goldy);
  transition: 0.2s ease-out;
}
.who-a:hover::after {
  width: 100%;
}
/* ************************** */
/*           whomain          */
/* ************************** */
.whomain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* ************************** */
/*            Slider          */
/* ************************** */
.slider__container {
  width: 800px;
  margin-top: 4rem;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 1s ease-in-out;
  box-shadow: 0px 0px 20px 5px rgb(27, 27, 27);
}
.slider__container__left {
  margin-left: -35%;
  transition: 1s ease-in-out;
}
.slider {
  position: relative;
  height: auto;
  padding-bottom: 84%;
  border-radius: 8px;
}
.slider__after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/iamwho.png);
  background-size: cover;
  pointer-events: none;
  border-radius: 8px;
}
.slider__before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 85%;
  height: 100%;
  background-image: url(/assets/img/whoami.jpg);
  background-size: cover;
  pointer-events: none;
  border-radius: 8px;
}
.slider__separator {
  position: absolute;
  left: 85%;
  width: 3px;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: linear-gradient(to bottom, var(--deepdark) 20%, var(--goldy));
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
  z-index: 1;
  transform: translate(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
}
.slider__separator::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 5px;
  border: 2px solid var(--goldy);
  background: var(--dark);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider__p1 {
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  text-align: center;
  top: 42%;
  right: 9px;
  width: 40%;
  font-size: 28px;
  background-image: linear-gradient(to right, #373737, #dbd3b6);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  opacity: 0;
  transition: 1s ease-out;
  filter: drop-shadow(-8px 12px 3px #373737);
}
.slider__p2 {
  /* display: block; */
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 25px;
  font-size: 28px;
  background-image: linear-gradient(to right, #373737, #dbd3b6);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  opacity: 1;
  transition: 1s ease-out;
  filter: drop-shadow(-8px 12px 2px #373737);
  z-index: 2;
}
.slider__p__opacity {
  opacity: 1;
  transition: 1.5s ease-out;
}
.slider__range {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  margin: 0;
  display: none;
}
.slider__ranger::-webkit-slider-runnable-track {
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent; /* supprimé définie sur l'input */
}
.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1.6rem;
  background: white;
  border: none;
  background: currentColor;
}
/* ************************** */
/*            Liste           */
/* ************************** */
.comp {
  position: absolute;
  right: 3%;
  width: 430px;
  max-width: 430px;
  margin-top: 4rem;
  /* margin-left: 8rem; */
  padding: 4rem 2rem 4rem 4rem;
  opacity: 0;
  background: var(--deepbrown);
  border-radius: 8px;
  transition: 0.8s ease-in-out;
  box-shadow: 0px 0px 7px 1px rgb(27, 27, 27);
  transition: 1s ease-in-out;
  z-index: -1;
}
.ul__who {
  display: flex;
  flex-direction: column;
}
.li__who {
  list-style-type: none;
  font-size: 70px;
  text-transform: capitalize;
  background-image: linear-gradient(
    to right,
    var(--deepdark) 20%,
    var(--goldy)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.2s ease-out;
  padding: 0.5rem 0 0 0;
  cursor: pointer;
}
@keyframes vibrate {
  0% {
    transform: translateY(5%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
.li__who:hover {
  margin-left: 2rem;
  animation: vibrate 0.2s;
  animation-delay: 0.25s;
  transform-origin: center;
  color: var(--goldy);
}
.display__content {
  right: 15%;
  transition: 2.4s ease-in-out;
  opacity: 1;
  z-index: 0;
}
/* ************************** */
/* *         textes         * */
/* ************************** */
.section__Text__whoami {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--deepbrown),
    var(--lightdark),
    var(--deepbrown)
  );
}
.h1__who__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16rem 0;
  -webkit-user-select: none;
}
.h1__whoami {
  /* width: 100%;
  height: 100%; */
  font-size: 7.5rem;
  text-transform: uppercase;
  background-image: url(/assets/img/Rainbow_bg.jfif);
  background-size: 200% 100%;
  background-position: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  z-index: 1;
}
/* ************************** */
/*           Zoomed           */
/* ************************** */
@keyframes falls {
  0% {
    transform: translate(0px);
    transform: rotateZ(0deg);
  }
  8% {
    color: var(--corail);
    transform: rotateZ(90deg);
  }
  15% {
    transform: translateY(400px);
    color: var(--blue);
  }
  20% {
    transform: rotateZ(180deg);
    color: var(--corail);
    transform-origin: center;
  }
  33% {
    transform: translateY(-150px);
  }
  45% {
    color: var(--blue);
  }
  50% {
    color: var(--corail);
  }
  55% {
    color: var(--blue);
    transform: rotateZ(-90deg);
  }
  63% {
    color: var(--corail);
  }
  67% {
    color: var(--blue);
  }
  69% {
    color: var(--corail);
    transform: translateY(40px);
  }
  73% {
    transform: rotateZ(30deg);
    color: var(--blue);
  }
  76% {
    color: var(--corail);
  }
  79% {
    color: var(--blue);
  }
  84% {
    color: var(--corail);
  }
  90% {
    transform: rotateZ(-10deg);
    color: var(--blue);
  }
  100% {
    transform: rotateZ(0deg);
    transform: translateY(0);
  }
}
@keyframes fallsLater {
  0% {
    transform: rotateZ(0deg);
  }
  7% {
    transform: rotateZ(-180deg);
  }
  15% {
    transform: rotateZ(-115deg);
  }
  25% {
    transform: rotateZ(-165deg);
  }
  39% {
    transform: rotateZ(-125deg);
  }
  58% {
    transform: rotateZ(-165deg);
  }
  78% {
    transform: rotateZ(-125deg);
  }
  88% {
    transform: rotateZ(-165deg);
    color: var(--blue);
  }
  100% {
    transform: rotateZ(-145deg);
    transform: translateY(400px);
    color: var(--corail);
  }
}
.zoomed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 4rem 0;
  padding: 0 2rem;
}
.zoomed__span {
  display: block;
  text-align: center;
  font-size: 7.5rem;
  padding: 0 0.5rem;
  color: var(--goldy);
  text-transform: uppercase;
  transition: 0.3s;
  background: var(--dark);
  box-shadow: inset 1px 1px 15px 1px var(--deepdark);
  transform-origin: bottom left;
  opacity: 1;
}
.active__falls {
  animation: falls 5.2s ease-in 1;
}
.active__falls__later {
  transform-origin: bottom right;
  animation: fallsLater 5.4s ease-in-out 1;
}
.span17 {
  font-family: "Minecraft Evenings";
  transform-origin: bottom;
  margin-left: 35px;
  margin-bottom: 25px;
  transform: rotateZ(-25deg);
  animation-delay: 0.2s;
}
.span16 {
  border-radius: 8px;
  animation-delay: 0.4s;
}
.span15 {
  font-style: italic;
  text-transform: lowercase;
  animation-delay: 0.6s;
}
.span14 {
  animation-delay: 0.8s;
}
.span13 {
  font-family: "Frijole";
  animation-delay: 1s;
}
.span12 {
  border-radius: 40% 23% 2% 8%;
  animation-delay: 1.2s;
}
.span11 {
  /* transform: rotate(-90deg); */
  padding: 3rem 0;
  margin-bottom: -4.5rem;
  animation-delay: 1.4s;
  line-height: 3px;
  width: 70px;
  height: 50px;
}
.span10 {
  animation-delay: 1.6s;
}
.span9 {
  border-radius: 71% 29% 98% 2% / 24% 83% 17% 76%;
  animation-delay: 1.8s;
}
.span8 {
  perspective: 12rem;
  transform: rotateX(-30deg);
  animation-delay: 2s;
}
.span7 {
  animation-delay: 2.4s;
}
.span6 {
  font-size: 90px;
  font-family: "Minecraft Evenings";
  animation-delay: 2.6s;
  border-radius: 20% 80% 16% 84% / 85% 8% 92% 15%;
  padding-left: 1.5rem;
}
.span5 {
  animation-delay: 2.8s;
}
.span4 {
  height: 100px;
  animation-delay: 3s;
}
.span3 {
  font-family: "Bangers";
  width: 70px;
  border-radius: 10% 20% 7% 40%;
  animation-delay: 3.2s;
}
.span2 {
  font-size: 55px;
  width: 80px;
  font-family: "Frijole";
  /* font-family: "Minecraft Evenings"; */
  animation-delay: 3.4s;
}
.span1 {
  margin-bottom: 10px;
  animation-delay: 3.4s;
}
.zoomed__span:hover {
  transform: scale(1.2);
  padding-bottom: 13px;
  transition: 0.2s;
  margin: 0 1rem;
}
/************************/
/******* htmlwork *******/
/************************/
.htmlwork {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* ↓ À la place de flex-wrap et flex direction ↓ */
  flex-flow: wrap row;
  /* margin: 10rem 0 5rem 0; */
  padding: 10rem 3rem 4rem 3rem;
  width: 100%;
  min-height: 100vh;
  background: var(--darkydark);
  /* background: black; */
}
.video__who__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 4rem;
  width: 800px;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 1px rgb(27, 27, 27);
}
.video__who__container:nth-child(1) {
  width: 55%;
  height: auto;
}
.info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 4;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
.focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: "Roboto";
  font-weight: 700;
  color: var(--dark);
  width: 70px;
  height: 100%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  animation: bouncing 0.34s ease-in-out infinite;
  z-index: 4;
  cursor: pointer;
}
@keyframes bouncing {
  0% {
    transform: translateY(-3px);
    /* transform: scale(0.95); */
  }
  50% {
    transform: translateY(3px);
    /* transform: scale(1); */
  }
  100% {
    transform: translateY(-3px);
    /* transform: scale(0.95); */
  }
}
.video__whoami {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  z-index: 2;
}
.h3__whoami__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9) 60%,
    var(--transWhite)
  );
  font-size: 40px;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.discriber {
  font-size: 2.5rem;
  color: var(--dark);
  margin: 2rem 0;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.h3__whoami {
  color: var(--dark);
  margin: 2rem 0 6rem 0;
}
.discriber:nth-child(5) {
  font-size: 1.5rem;
  margin-top: 8rem;
  color: rgb(122, 122, 122);
}
.h3__whoami__container__hover {
  opacity: 1;
  transition: 0.3s;
  z-index: 3;
  cursor: pointer;
}
/* **************************** */
/* ********** Resume ********** */
/* **************************** */

#resume {
  position: relative;
  height: 186vh;
  background: linear-gradient(
    to top right,
    var(--corail),
    var(--darkydark) 50%,
    var(--blue)
  );
  background: var(--deepgrey);
}
.main__resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  margin-top: 90px;
}

.resumeHeaderPhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.resumeHeaderImg {
  width: 100%;
  transform: scale(1.3);
  transition: 2.5s ease-in-out;
  filter: blur(3px);
}
.resumeHeaderImg:hover {
  transform: scale(1);
  transition: 2.5s ease-in-out;
  filter: blur(0px);
}
.h1__break__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.h1break {
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--goldy);
  text-align: center;
  -webkit-box-reflect: below -28px linear-gradient(transparent 30%, rgba(0, 0, 0, 0.1));
}
.resume__2__section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 750px;
  background: var(--darkydark);
  color: var(--lighttransgoldy);
  margin-top: 4rem;
  /* margin-bottom: -4rem; */
  box-shadow: 1px 1px 15px 1px #000;
  border-radius: 4px;
  opacity: 0;
  transition: 3s ease-in-out;
}
.resume__section__opacity {
  opacity: 1;
  margin-top: 4rem;
  animation: movingSection 3s ease-in-out 1;
}
@keyframes movingSection {
  0% {
    margin-top: 40rem;
  }
  50% {
    margin-top: -12rem;
  }
  100% {
    margin-top: 4rem;
  }
}
.vertical__icon__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 750px;
}
.vertical__icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.resume__icon {
  width: 30px;
  margin: 2rem 0;
}
.cube {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 60px;
  height: 60px;
  margin: 5px 0 0 0px;
  background: var(--corail);
  box-shadow: 1px 1px 15px 1px black;
}
.verticalpan2 {
  width: 360px;
  min-width: 300px;
  height: 800px;
}
.about__me__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--goldy);
  border-bottom: 3px solid var(--darkydark);
}
.name {
  font-size: 38px;
  color: var(--darkydark);
  margin-bottom: 30px;
}
.dev {
  font-size: 28px;
  color: var(--dark);
  margin-bottom: 20px;
}
.resume__p__container {
  display: flex;
  justify-content: center;
}
.card__front__text {
  font-size: 22px;
  font-weight: 400;
  color: var(--goldy);
  padding: 1rem;
}
.right__pad__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 750px;
  /* background: var(--dark); */
  padding: 2rem;
  /* box-shadow: inset 0px 0px 15px 0px black; */
  overflow: scroll;
  margin: auto;
}

.right__pad__container::-webkit-scrollbar {
  width: 3px;
}
.right__pad__container::-webkit-scrollbar-track {
  background: var(--darky);
}
.right__pad__container::-webkit-scrollbar-thumb {
  background-color: var(--corail);
  border-radius: 10px;
  border: 4px solid var(--darky);
}
.right__pad__container::-webkit-scrollbar-corner {
  background: var(--darky);
}
.bottom__box {
  height: 100vh;
}
.about__me {
  font-size: 60px;
}
.age {
  font-size: 22px;
  color: var(--blue);
  margin: 2rem 0;
}
.boxes__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.little__box__container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.little__box__container2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.littel__boxes {
  width: 400px;
  height: 190px;
  /* background: var(--corail); */
  margin: 20px 20px 20px 0;
  padding: 1rem;
}
.box__png {
  width: 45px;
  height: 45px;
  margin: 0 0 1.5rem 0;
}

.top__pan__text {
  width: 600px;
  font-size: 22px;
  font-weight: 300;
  color: var(--lighttransgoldy);
}
.littel__boxes h6 {
  font-size: 25px;
  text-transform: capitalize;
  color: var(--goldy);
}
.middel__p {
  font-size: 18px;
  font-weight: 300;
}

/* ************************** */
/* *      Resume cards      * */
/* ************************** */
.card__position__resume {
  position: absolute;
  top: -25px;
  left: 70px;
}
.resume__card__container {
  position: relative;
  width: 360px;
  height: 800px;
  backface-visibility: hidden;
  /* margin-top: 4rem; */
}
.services {
  font-size: 30px;
  margin-top: 1rem;
}
.projet {
  font-size: 30px;
  padding-top: 1rem;
  border-top: 3px solid var(--darkydark);
}

.resume__card__wrapper {
  position: relative;
  min-height: 800px;
  perspective: 2000px;
  perspective-origin: center;
}
.resume__card__wrapper:hover .resume__card {
  transform: rotateY(-180deg);
}
.resume__card {
  position: relative;
  width: 360px;
  height: 800px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  font-weight: bold;
  cursor: pointer;
}
.resume__card__front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent),
    url(/assets/img/800.jpg);
  background-size: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
  padding-bottom: 10rem;
}
.resume__card__front::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-color: #fff var(--dark) rgb(160, 174, 194) #fff;
  border-style: solid;
  border-width: 0px 25px 25px 0px;
  background: black;
  z-index: 3;
}
/* .resume__at {
} */
.resume__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  background-image: url(/assets/img/height.jpg);
  background-size: cover;
  background-position: center;
  filter: hue-rotate(340deg);
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
}
/* ************************** */
/*       *  Responsive *      */
/* ************************** */
@media screen and (max-width: 1700px) {
  .whomain {
    width: 100%;
    height: 100vh;
  }
  .slider__container__left {
    max-width: 55%;
    font-size: 12px;
    transition: 1s ease-in-out;
  }
  .display__content {
    right: 10%;
  }
  .li__who {
    width: 100%;
    font-size: 6rem;
  }
  .video__who__container {
    width: 85%;
    height: auto;
  }
  /* ************** */
  /* * Menu burger* */
  /* ************** */
  .btn__toggle__container {
    position: fixed;
    top: 12px;
    right: 15px;
    display: block;
    padding: 10px;
    z-index: 3;
  }
  .btn__toggle__container:hover {
    animation: vibrate 0.2s;
    animation-delay: 0.15s;
    z-index: 7;
  }
  .navbg {
    display: none;
  }
  .headernav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    height: 90px;
    z-index: 3;
  }
  .headernav.active__menu {
    background: var(--darkydark);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0 0 0;
    height: 300px;
    border-bottom: 2px solid var(--transgoldy);
    transition: 0.2s ease-out;
  }
  .header-a {
    display: block;
    color: var(--goldy);
    font-size: 38px;
    margin: 0;
    display: none;
  }
  .header-a.active__a {
    display: block;
    color: var(--goldy);
    margin: 0;
  }
  .video__who__container:nth-child(1) {
    width: 85%;
    height: auto;
  }
  .p__parallax2 {
    margin: auto;
  }
}
@media screen and (max-width: 1550px) {
  html {
    font-size: 60%;
  }

  .display__content {
    width: 350px;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 58%;
  }
  .scroll-to-top {
    right: 5px;
  }
  .scroll__to__top__who {
    right: 3px;
  }
  .slider__p1 {
    top: 3%;
    /* font-size: 22px; */
  }
}
@media screen and (max-width: 1200px) {
  .whomain {
    width: 100%;
    height: 100vh;
  }
  .display__content {
    right: 5%;
  }
  .parallax {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #h3blur {
    margin: 4rem auto;
  }
  .parallax__p1__box {
    width: auto;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 8rem auto 0 auto;
    text-align: center;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 950px) {
  html {
    font-size: 55%;
  }
  .whomain {
    height: auto;
    flex-direction: column;
  }
  .slider__container {
    max-width: 80%;
    margin: 16rem 0 8rem 0;
  }
  .slider__container__left {
    max-width: 80%;
    margin: 16rem 0 0 0;
  }
  .display__content {
    position: inherit;
    margin: 6rem 0 12rem 7rem;
    width: 350px;
    padding: 4rem 2rem 4rem 4rem;
    background: var(--deepbrown);
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px rgb(27, 27, 27);
    transition: 2s ease-in-out;
  }
  .h1__whoami {
    font-size: 5.5rem;
  }

  .end {
    flex-direction: column;
    /* height: auto; */
    height: auto;
  }

  .footer__card__container {
    width: 300px;
    height: 300px;
    margin: 8rem auto 8rem auto;
  }
  .card {
    width: 300px;
    height: 300px;
  }
  .social__box {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .link {
    display: none;
  }
  .social__btn {
    min-width: 100px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 850px) {
  .p__parallax3 {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .h1-header {
    font-size: 8.5rem;
  }
  .scroll-to-top {
    display: none;
  }
  .scroll__to__top__who {
    display: none;
  }
  .slider__p1 {
    font-size: 2.6rem;
  }
  .slider__p2 {
    font-size: 2.6rem;
  }
  .red__word__container {
    width: 450px;
    height: 400px;
  }
  .redword__hover {
    width: 440px;
    height: 400px;
  }
  .p__parallax3 {
    left: 25%;
  }
  #h3blur {
    font-size: 55px;
  }
}
@media screen and (max-width: 530px) {
  .whonav {
    justify-content: center;
  }
  .who-a {
    margin-left: 4rem;
  }
  .logo__container {
    display: none;
  }
  .h1-header {
    font-size: 7.5rem;
  }
  .h2_section1 {
    font-size: 8rem;
  }
  .parallax__p1__box {
    width: auto;
    margin: 20rem auto 0 auto;
    text-align: center;
    padding: 0 2rem;
  }
  .p__parallax1 {
    text-align: left;
    font-size: 28px;
    margin-left: 1rem;
    padding: 0 2rem;
  }
}
